@import "../helper/variables"
@import "../helper/media"
// button-style
.btn
  color: $colorWhite
  font-size: 16px
  line-height: 20px
  padding: 10px 20px
  min-width: 200px
  font-weight: 700
  letter-spacing: 2px
  text-transform: uppercase
  border: 2px solid $colorRed
  text-decoration: none
  display: inline-block
  outline: none
  text-align: center
  z-index: 1
  margin-bottom: 20px
  background-color: $colorRed
  @include transition
  &:hover
    color: $colorRed
    text-decoration: none
    background: $colorWhite
  &.transparent
    background-color: transparent
    color: $colorRed
    &:hover
      background-color: $colorRed
      color: $colorWhite
  &.half-bg,
  &.fourth-bg
    font-size: 20px
    line-height: 30px
    padding: 22px 15px
    background: none
    color: $colorWhite
    position: relative
    border: 0
    min-width: 0
    @include mobile-l
      padding: 15px 15px
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 50%
      height: 100%
      background-color: $colorRed
      @include transition
    .text
      position: relative
      z-index: 2
    &:hover
      &:before
        width: 100%
  &.fourth-bg
    padding: 10px 15px
    &:before
      width: 25%


.ajax-more
  width: 200px
  margin: 0 auto