@import "../helper/variables"
@import "../helper/media"
//FOOTER
/* FOOTER-TOP*/
.footer-top
  font-weight: 400
  margin: 0
  width: 100%
  .contact-wrap
    @include desktop-standart
      display: flex
      justify-content: space-between
    @include mobile-l
      flex-direction: column
      padding-top: 15px
  .contact
    text-transform: uppercase
    margin-bottom: 40px
    font-size: 13px
    @include desktop-standart
      font-size: 16px
      line-height: 20px
      min-width: 300px
    a
      text-decoration: none
      &:hover
        color: #ffffff
        text-decoration: none
  .row
    margin: 0
    width: 100%
  .col
    padding: 50px 40px 20px
    font-size: 12px
    margin: 0
    line-height: 18px
    @include middle-desktop
      padding: 45px 20px 20px
    @include mobile-l
      padding: 20px 20px 20px
    .col-title
      font-weight: 700
      font-size: 13px
      line-height: 20px
      margin-bottom: 18px
      @include mobile-l
        font-size: 24px
        font-weight: 300
        margin: 0
        line-height: 30px
        .title-text
          &:after
            position: relative
            right: 0
            bottom: 0
            border-right: 1px solid $colorBlack
            border-top: 1px solid $colorBlack
            content: ""
            line-height: 30px
            width: 9px
            height: 9px
            margin: 0
            text-indent: 0 !important
            display: inline-block
            top: -5px
            left: 11px
            transform: rotate(135deg)
    .col-content
      @include mobile-l
        opacity: 0
        overflow: hidden
        max-height: 0
        @include transition
        &.active
          max-height: 999px
          opacity: 1
    ul
      margin: 0 0 20px
      padding: 0
      list-style: none
      @include mobile-l
        margin: 10px 0 0

      li
        margin: 0 0 3px
        font-size: 13px
        line-height: 18px
      a
        text-decoration: none
        position: relative
        left: 0
        @include transition
        &:hover
          text-decoration: none
          left: 10px
          color: #fff
  .newsletter
    color: #ffffff
    text-transform: uppercase
    .formular-title
      font-size: 13px
      line-height: 20px
    form
      margin: 0
      p
        width: 100%
        display: flex
        margin: 0
        justify-content: space-between
      a
        color: #ffffff
        text-decoration: none
        &:hover
          text-decoration: underline
    .wpcf7-list-item-label
      text-indent: -999px
    .check-label
      display: inline-block!important
      padding: 0!important
      width: calc(100% - 30px)
      position: relative
      top: 5px
      &:before,
      &:after
        display: none

    input[type="email"]
      width: calc(100% - 170px)
      padding: 5px 25px
      &.wpcf7-not-valid
        border-bottom: 2px solid $colorRed
    input[type="submit"]
      background: transparent
      border: 2px solid #ffffff
      color: #fff
      width: 120px
      padding: 5px 25px
      font-weight: 700
      &:hover
        background-color: #ffffff
        color: #000
    .wpcf7-list-item-label
      &:before,
      &:after
        top: 5px
      &:before
        top: 7px!important
        left: 2px!important
        width: 8px!important
        height: 8px!important
      &:after
        width: 10px!important
        height: 10px!important

    .your-email
      width: 100%
    .form-checkbox
      font-size: 9px
      width: 100%
      padding: 0
      line-height: 12px
    .ajax-loader
      display: none!important
    //.wpcf7-not-valid-tip,
    //.wpcf7-form-control-wrap.newsletter-check
    //  display: none!important
    .wpcf7-validation-errors,
    .wpcf7-not-valid-tip
      display: none!important
/* FOOTER-BOTTOM */
.footer-bottom
  font-size: 13px
  line-height: 20px
  padding: 10px 0
  font-weight: 500
  letter-spacing: 1.2px
  .row
    justify-content: space-between
    margin: auto
    width: 100%
  .col
    margin: 0
    &:last-child
      @include desktop
        order: -1
  .copy
    text-transform: uppercase
    padding: 0 20px
    @include big-desktop
      padding: 0
    @include desktop-standart
      font-size: 11px
    @include desktop
      text-align: center
      font-size: 13px
    a
      color: $colorRed
      text-decoration: none
      &:hover
        color: #d9a87e
  .footer-links
    margin: 0
    padding: 0 35px
    list-style: none
    display: flex
    @include big-desktop
      justify-content: flex-end
      padding: 0
    @include middle-desktop
      padding: 0 20px
    @include desktop
      padding: 10px 15px
      justify-content: center
    li
      padding-left: 8px
      margin: 0 0 0 8px
      font-size: 13px
      line-height: 20px
      position: relative
      &:before
        width: 1px
        height: 12px
        content: ""
        position: absolute
        left: 0
        top: 50%
        background-color: #8d8c8c
        @include transform-y
      &:first-child
        margin-left: 0
        padding-left: 0
        border-left: 0
        &:before
          display: none
    a
      text-decoration: none
      @include mobile-p
        font-size: 11px
      &:hover
        color: $colorRed
























