@import "../helper/variables"
@import "../helper/media"
//  FORM STYLE
button,
input,
textarea
  outline: none !important
  appearance: none
  font-family: $mainFont
.wpcf7-validation-errors
  display: none!important
form
  margin-bottom: 25px

  input,
  textarea
    border: 2px solid $colorBlack
    padding: 10px 20px
    font-size: 14px
    line-height: 20px
    border-radius: 0
    margin-bottom: 20px
    background-color: $colorWhite
    font-family: $mainFont
    @include transition
    &.wpcf7-not-valid
      border-color: $colorRed!important
    &:focus
      border-color: $colorBlack!important

  input
    color: black
    display: block
    @include transition

    &[type="submit"], &[type="reset"]
      cursor: pointer
      width: 170px
      color: $colorBlack
      text-transform: uppercase

      &:hover
        background-color: $colorBlack
        color: $colorWhite
        border: 1px solid $colorBlack

  textarea
    width: calc(100% - 44px)
    height: 100px
    resize: none

.newsletter
  .form-checkbox,
  .form-radio
    label
      position: relative

      input[type='checkbox'],
      input[type='radio']
        position: absolute
        top: 0
        left: 0
        opacity: 0

      input[type='checkbox'].error + .error + .check-label:after
        border-color: $colorRed



      input[type='checkbox']:checked + .check-label:before,
      input[type='radio']:checked + .check-label:before,
      input[type='checkbox']:checked + .error + .check-label:before,
      input[type='radio']:checked + .error + .check-label:before
        opacity: 1


      .check-label
        position: relative
        padding-left: 30px
        display: block
        margin-bottom: 20px
        cursor: pointer
        &:before,
        &:after
          content: ''
          position: absolute
          left: 0
          top: 0

        &:before
          content: ''
          width: 13px
          height: 13px
          background: $colorWhite
          opacity: 0
          top: 2px
          left: 2px
          @include transition

        &:after
          width: 15px
          height: 15px
          border: 1px solid $colorWhite



// CHECKBOX STYLING
.form-checkbox,
.form-radio
  label
    position: relative

    input[type='checkbox'],
    input[type='radio']
      position: absolute
      top: 0
      left: 0
      opacity: 0

    input[type='checkbox'].error + .error + .wpcf7-list-item-label:after
      border-color: $colorRed



    input[type='checkbox']:checked + .wpcf7-list-item-label:before,
    input[type='radio']:checked + .wpcf7-list-item-label:before,
    input[type='checkbox']:checked + .error + .wpcf7-list-item-label:before,
    input[type='radio']:checked + .error + .wpcf7-list-item-label:before
      opacity: 1


    .check-label
      position: relative
      padding-left: 30px
      display: block
      margin-bottom: 20px
      cursor: pointer

      &:before,
      &:after
        content: ''
        position: absolute
        left: 0
        top: 0

      &:before
        content: ''
        width: 13px!important
        height: 13px!important
        background: $colorDark
        opacity: 0
        top: 2px!important
        left: 2px!important
        @include transition

      &:after
        width: 20px
        height: 20px
        top: 2px
        border: 1px solid $colorDark
//RADIO-STYLING
.form-radio

  .wpcf7-list-item-label
    &:before,
    &:after
      border-radius: 50%
// SELECT STYLING
.jcf-focus
  border-color: $colorBlack !important

.jcf-select,
select
  text-align: left
  overflow: hidden
  min-width: 220px
  height: 48px
  background-color: $colorWhite
  display: inline-block
  border: 0
  border-bottom: 2px solid $colorWhite
  position: relative
  font-family: $mainFont

  .jcf-select-opener
    width: 44px
    height: 44px
    background-color: transparent
    position: absolute
    z-index: 2
    top: 0
    right: 0

    &:after
      display: block
      position: absolute
      right: 0
      bottom: 0
      border-right: 2px solid black
      border-top: 2px solid black
      text-align: center
      content: ""
      color: $colorWhite
      line-height: 60px
      width: 9px
      height: 9px
      margin: -14px 0 0
      text-indent: 0 !important
      left: 16px
      top: 28px
      transform: rotate(135deg)

  .jcf-select-text
    line-height: 39px
    color: rgba(0,0,0,0.3)
    font-size: 14px
    padding: 0 30px 0 13px

    background-color: $colorWhite
    display: inline-block

.jcf-select-drop div.jcf-select-drop-content
  border: 0

.jcf-select-drop-content
  ul
    margin: 0
    padding: 0
    list-style: none

  li
    margin: 0

    .jcf-option
      padding: 10px 10px
      font-size: 16px
      line-height: 30px
      color: $colorBlack
      background-color: $colorWhite
      display: block
      cursor: pointer

      &:hover
        background-color: $colorGray
        color: $colorBlack
//placeholder
input::-moz-placeholder
  color: #a9a9a9
  opacity: 1
  font-weight: 300

input::-webkit-input-placeholder
  color: #a9a9a9
  opacity: 1
  font-weight: 300

input:-ms-input-placeholder
  color: #a9a9a9
  opacity: 1
  font-weight: 300

textarea::-moz-placeholder
  color: #a9a9a9
  opacity: 1
  font-weight: 300

textarea::-webkit-input-placeholder
  color: #a9a9a9
  opacity: 1
  font-weight: 300

textarea:-ms-input-placeholder
  color: #a9a9a9
  opacity: 1
  font-weight: 300


input::-webkit-input-placeholder
  opacity: 1
  transition: opacity 0.7s ease
input::-moz-placeholder
  opacity: 1
  transition: opacity 0.7s ease
input:-moz-placeholder
  opacity: 1
  transition: opacity 0.7s ease
input:-ms-input-placeholder
  opacity: 1
  transition: opacity 0.7s ease
input:focus::-webkit-input-placeholder
  opacity: 0
  transition: opacity 0.7s ease
input:focus::-moz-placeholder
  opacity: 0
  transition: opacity 0.7s ease
input:focus:-moz-placeholder
  opacity: 0
  transition: opacity 0.7s ease
input:focus:-ms-input-placeholder
  opacity: 0
  transition: opacity 0.7s ease

.newsletter
  form
    display: flex
    flex-wrap: wrap
    p
      width: 100%
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      margin: 0
      -webkit-box-pack: justify
      -ms-flex-pack: justify
      justify-content: space-between
    .your-email
      width: 100%

    .check-label
      display: inline-block !important
      padding: 0 0 0 20px !important
      width: auto
      position: relative
      top: 5px
      @include tablet-l
        width: calc(100% - 35px)
        top: 5px
      @include mobile-middle
        top: 11px


    span.wpcf7-list-item
      margin: 0
      text-indent: -9999px
  label.error
    display: none!important
  input
    border: 0
    padding: 17px 25px
    width: calc(100% - 181px)
    margin-bottom: 10px
    @include tablet-p
      width: calc(100% - 141px)
    @include mobile-middle
      width: calc(100% - 110px)
    @include mobile-middle
      padding: 10px
    &.error
      border-bottom: 2px solid $colorRed
    &[type="submit"]
      background: transparent
      border: 2px solid #ffffff
      color: #ffffff
      font-size: 18px
      width: 130px
      font-weight: bold
      text-transform: uppercase
      @include tablet-p
        width: 90px
        padding: 10px 5px
      &:hover
        border: 2px solid #ffffff
        background-color: #ffffff
        color: $colorRed
  .check-label
    cursor: pointer
  .form-checkbox
    font-size: 12px
    line-height: 16px
    padding-left: 20px
    text-transform: none
    @include tablet-l
      text-align: left
      width: 100%
    a
      color: #fff
      text-decoration: none
      &:hover
        text-decoration: underline
    @include mobile-middle
      padding-left: 0
      text-align: left
    .check-label
      padding-left: 20px
      text-align: left
      @include mobile-middle
        text-align: left
      &:before
        top: 2px
        left: 2px
        width: 8px
        height: 8px
        background-color: #fff
      &:after
        width: 20px
        height: 20px
        border: 1px solid #fff
      a
        color: #ffffff
        text-decoration: none
        font-weight: 500
        @include transition
        &:hover
          color: $colorRed
//formular-section
.formular-section
  padding: 80px 0
  @include tablet-l
    padding: 40px 0 40px
  .form-title
    margin-bottom: 40px
    @include tablet-l
      margin-bottom: 20px
  form
    margin: 0
    input
      background-color: $colorWhite
      border: 0
      margin-bottom: 10px
      padding: 13px 20px
      width: 100%
      border-bottom: 2px solid #fff
      box-sizing: border-box
      &[type="submit"]
        color: $colorWhite
        width: 300px
        max-width: 100%
        font-size: 20px
        background-color: $colorRed
        border: 1px solid $colorRed
        @include transition
        &:hover
          background-color: $colorWhite
          color: $colorRed
        @include mobile-middle
          width: 100%
    textarea
      border: 0
      height: 260px
      @include tablet-l
        height: 180px
  .row
    width: calc(100% + 30px)
    margin: 0 -15px

  .col
    padding: 0 15px
  .form-checkbox
    align-items: flex-end
    display: flex
    width: 100%
    text-align: left!important
    padding-top: 10px
    font-size: 12px
    flex-direction: column
    @include mobile-middle
      width: calc(100% - 35px)
      top: 13px
    label
      padding-right: 40px
    .wpcf7-list-item-label

      &:after
        width: 15px
        height: 15px
        top: 2px
      &:before
        width: 11px
        height: 11px
        top: 6px
        left: 3px
        background-color: $colorRed
  label.error,
  span.wpcf7-not-valid-tip
    display: none!important
    color: $colorRed
  input
    &.error,
    &.wpcf7-not-valid
      border-bottom: 2px solid $colorRed

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing
  border: 2px solid $colorRed!important
  padding: 20px!important
  margin: 0!important

/* file */
.jcf-file 
  display: inline-block
  white-space: nowrap
  position: relative
  overflow: hidden
  background: #fff
  width: 100%
  cursor: pointer
  margin-bottom: 10px

.jcf-file .jcf-real-element 
  position: absolute
  font-size: 200px
  height: 200px
  margin: 0
  right: 0
  top: 0
  cursor: pointer
  padding-top: 100px

.jcf-file .jcf-fake-input
  display: inline-block
  text-overflow: ellipsis
  white-space: nowrap
  vertical-align: top
  overflow: hidden
  border: 2px solid transparent
  padding: 0 20px
  font-size: 14px
  line-height: 48px
  height: 48px
  width: 100%
  background: #fff
  color: rgba(0,0,0,0.3)

.jcf-file .jcf-upload-button
  display: block
  position: absolute
  right: 10px
  top: 0
  cursor: pointer
  text-indent: -9999px
  height: 100%
  width: 40px
  opacity: 0.5
  background: url('../images/file-ico.svg') no-repeat 0 50%
  background-size: 70%
.file-info
  font-size: 12px
  line-height: 16px
  color: #939393
  display: block
  padding-left: 20px


