@import "../helper/variables"
@import "../helper/media"
#header
  background-color: $colorWhite
  top: 0
  left: 0
  width: 100%
  position: fixed
  z-index: $zHeader
  display: flex
  flex-direction: column
  &.menu-active + #middle
    position: relative
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 5
      background-color: rgba(255,255,255,0.9)

  .container
    display: flex
    align-items: center
    justify-content: space-between
  //HEADER-TOP
  .header-top
    background-color: #ececec
    max-height: 30px
    overflow: hidden
    @include transition
    @include tablet-l
      max-height: 50px
    .container
      justify-content: flex-end
      @include mobile-middle
        max-width: 100%
    .contact-info
      display: flex
      padding: 5px 0
      .tel,
      .time
        font-weight: 700
        text-transform: uppercase
        font-size: 14px
        line-height: 20px
        color: #000
        letter-spacing: 0.6px
        @include mobile-l
          font-size: 12px
      .time
        margin-left: 24px
        @include mobile-middle
          display: none
      .tel
        a
          text-decoration: none
          color: $colorRed
          opacity: 1
          @include transition
          &:hover
            opacity: 0.7
          @include mobile-middle
            font-size: 17px
          @include mobile-p
            font-size: 14px
    .anfahrt
      a
        font-size: 14px
        min-width: 0
        line-height: 20px
        padding: 3px 35px
        margin: 0 0 0 20px
        position: relative
        &:after
          display: block
          opacity: 0
          border-top: 2px solid #fff
          border-left: 2px solid #fff
          text-align: center
          content: ""
          right: 25px
          color: #fff
          position: absolute
          top: 9px
          line-height: 5px
          width: 5px
          @include transition
          height: 5px
          text-indent: 0 !important
          -webkit-transform: rotate(135deg)
          transform: rotate(135deg)
          @include tablet-l
            right: 13px
            top: 19px
        @include tablet-l
          padding: 13px 20px
          &:hover
            padding: 13px 30px 13px 10px!important
        @include mobile-middle
          margin: 0 0 0 15px
        &:hover
          padding: 3px 45px 3px 25px
          background-color: $colorRed
          color: $colorWhite
          &:after
            opacity: 1
  //HEADER-BOTTOM
  .header-bottom
    padding: 18px 0 20px
    @include tablet-l
      padding: 5px 0
    @include mobile-middle
      padding: 5px 0 0
      position: relative
    .container
      align-items: flex-end
      @include mobile-middle
        max-width: 100%
      @include big-desktop
        position: relative
  // logo
  .logo
    overflow: hidden
    font: bold 40px/40px arial, sans-serif
    margin: 0
    position: relative
    @include transition
    height: 72px
    @include tablet-l
      height: 54px
    @include mobile-middle
      margin: 0 0 5px 5px
      height: 50px
      width: 55px
      min-width: 55px
      margin-right: 50px
    @include mobile-p
      margin-right: 20px
    a
      height: 100%
      display: block
    img
      height: 100%
      width: auto
      @include transition
      @include mobile-middle
        max-width: 100vw
        height: 100%
        width: auto
  // MENU-ACTIVE
  &.menu-active
    .menu-opener
      left: 0
      color: $colorWhite
      background-color: $colorBlack
    .navigation
      right: 0
      ul
        padding: 10px 0
      li
        margin: 0
//menu opener icon
.menu-opener-js
  display: none
  position: absolute
  line-height: 10px
  width: 50px
  top: 0
  padding: 0
  left: 0
  height: 50px
  align-items: center
  flex-direction: column
  font-size: 15px
  text-align: center
  color: $colorWhite
  justify-content: center
  background-color: $colorRed
  .bar
    width: 30px
    display: inline-block
    background: $colorWhite
    height: 4px
    margin: 4px 0 0
    clear: both
    @include transition
    &:nth-child(1)
      margin-top: 0
  @include tablet-l
    display: flex
    z-index: 10
  &.active
    .bar
      display: none
      &:nth-child(1),
      &:nth-child(3)
        display: block !important
        margin: 0 0 0
        -webkit-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        -o-transform: rotate(45deg)
        transform: rotate(45deg)
      &:nth-child(3)
        display: block !important
        margin: -3px 0 0
        -webkit-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        -o-transform: rotate(-45deg)
        transform: rotate(-45deg)
//TOP-LINKS
.top-links
  display: flex
  @include tablet-l
    align-items: flex-end
    width: 50%
    position: relative
    top: 0
  @include mobile-middle
    width: 100%
    top: -3px
//navigation
.navigation
  @include transition
  @include tablet-l
    right: -150%
    width: 100%
    background: $colorBorder
    top: 100%
    position: absolute
    height: calc(100vh - 110px)
    overflow: auto
    display: flex
    align-items: center
    justify-content: center
    &.drop-active
      align-items: flex-start
  @include mobile-middle
    width: calc(100vw - 50px)
  nav
    ul
      position: relative
      padding: 0
      list-style: none
      margin: 0
      display: flex
      flex-direction: row
      @include big-desktop
        position: inherit
      @include tablet-l
        flex-direction: column
    li
      margin: 0 75px 0 0
      @include transition-long
      &.color-red,
      &.current-menu-item
        >a
          color: $colorRed
      &.current-menu-item
        >a
          font-weight: bold
      &:hover
        >a
          color: $colorRed
      @include big-desktop
        margin: 0 25px 0 0
      @include desktop
        margin: 0 15px 0 0
    a
      color: #080808
      text-decoration: none
      @include transition
      padding: 0
      font-weight: 300
      font-size: 16px
      line-height: 30px
      text-transform: uppercase
      display: inline-block
      vertical-align: top
      @include tablet-l
        display: block
        padding: 10px 20px
        font-size: 20px
        text-align: center
  // SEARCH
.search-form
  margin-left: 20px
  display: flex
  position: relative
  &.search-result-show
    .ajax_search_response
      max-height: 999px
      padding: 15px
  @include tablet-l
    width: 100%
  @include mobile-middle
    margin: 0
  .ajax_search_response
    position: absolute
    background: #fff
    right: 0
    top: calc(100% + 21px)
    padding: 0 15px
    width: 450px
    left: auto
    display: block!important
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
    overflow: hidden
    max-height: 0
    @include transition-long
    @include mobile-middle
      top: 100%
      width: 100%
    .ajax_search_entry
      display: flex
      text-decoration: none
      margin-bottom: 10px
    .ajax_search_image
      margin-right: 20px
      min-width: 80px
      img
        border-radius: 50%
    .ajax_search_content
      .ajax_search_title
        display: block
        text-transform: uppercase
        font-weight: bold
        margin-bottom: 0
      .ajax_search_excerpt
        font-style: italic
        color: rgba(0,0,0,0.5)
        font-size: 14px
        line-height: 16px
        display: block
    .ajax_search_entry_view_all
      color: $colorRed
      text-align: center
      display: block
      padding: 15px 20px
      background: rgba(0,0,0,0.1)
      &:hover
        background: rgba(255,255,255,0.1)
  form
    margin: 0
    display: flex
    width: 200px
    @include desktop-standart
      width: 130px
    @include tablet-l
      width: 100%
    @include mobile-middle
      width: 100%
  input
    border: 0
    font-size: 14px
    line-height: 30px
    height: 30px
    margin: 0
    background: rgb(236,236,236)
    &[type="search"]
      padding: 0 0 0 8px
      text-transform: uppercase
      width: calc(100% - 30px)
    @include tablet-l
      line-height: 50px
      height: 50px
      font-size: 16px
    @include mobile-middle
      font-size: 12px

  .form-submit
      width: 30px
      height: 30px
      border: 0
      cursor: pointer
      padding: 0
      color: #b4b4b4
      background-color: #ececec
      @include transition
      &:hover
        color: #000
      @include tablet-l
        width: 50px
        height: 50px
        font-size: 25px
// FAVORITE
.favorite
  .fa
    color: $colorRed
  &.empty
    .fa.fa-heart-o
      display: block
    .fa.fa-heart
      display: none
  &.not-empty
    .fa.fa-heart-o
      display: none
    .fa.fa-heart
      display: block
  .value
    color: $colorRed
  @include tablet-l
    margin-bottom: 15px
  @include mobile-middle
    margin-right: 15px
  a
    text-decoration: none
    color: #000
    display: flex
    font-size: 14px
    align-items: center
    @include transition
    @include mobile-middle
      font-size: 22px
    svg
      width: 20px
      height: 30px
      @include mobile-middle
        font-size: 30px
        width: 30px
    .value
      opacity: 0.5
      margin-left: 3px
    &:hover
      color: $colorRed
    @include mobile-middle
      height: auto
      color: $colorRed
//fixed-header
#header
  &.fixed-header
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
    .header-top
      max-height: 0
    .header-bottom
      padding: 5px 0

      .logo
        a
          display: flex
          align-items: center
        img
          height: 60px
      .container
        align-items: center
      nav li
        margin: 0 35px 0 0
.dropdown
  >a
    position: relative


//drop-down
.drop-down-icon
  display: none
  position: absolute
  width: 20px
  height: 20px
  vertical-align: top
  right: -18px
  top: 4px
  background-color: transparent
  &:before
    border: 5px solid transparent
    border-top: 5px solid $colorWhite
    content: ""
    width: 0
    height: 0
    position: absolute
    top: 50%
    left: 50%
    margin-top: 3px
    @include transform
  @include tablet-l
    position: absolute
    right: 0
    top: 6px
    display: block
    height: 40px
    width: 40px
    background-color: $colorRed
    z-index: 1
    &:before
      border-top-color: $colorWhite
.dropdown
  @include tablet-l
    position: relative
  >a
    &:before
      border: 17px solid transparent
      border-bottom: 20px solid transparent
      position: absolute
      left: 50%
      content: ""
      @include transform-x
      top: calc(100% + 10px)
      @include transition-long
      @include tablet-l
        display: none!important
  &:hover
    >a
      position: relative
      &:before
        border: 17px solid transparent
        border-bottom: 20px solid #f8f8f8
    .dropdown-menu
        display: block
        margin: 0
        padding: 40px 0 0
        max-height: 999px
        @include tablet-l
          padding: 0
.dropdown-menu
  border: 0
  position: absolute
  top: calc(100% + 7px)
  left: -70px
  padding: 0
  float: none
  margin: 0
  background: none
  border-radius: 0
  overflow: hidden
  max-height: 0
  width: 970px

  @include transition-long
  @include big-desktop
    left: 0
    width: 100%
  @include tablet-l
    top: 0
    position: relative
    padding: 0!important
    left: 5px
    max-height: 0!important
    width: calc(100% - 10px)
  &.active
    max-height: 9999px!important
    padding: 50px
  @include tablet-l
    position: relative
    top: 0
    display: block
  .drop-down-list
    display: flex
    margin-left: -20px
    flex-wrap: wrap
    padding: 50px 50px 10px
    background-color: #f8f8f8
    @include tablet-l
      padding: 20px 5px
      margin: 0 0 0 -5px
      background: transparent
    .item
      margin: 0 0 40px 20px
      width: calc(16.666% - 20px)
      @include tablet-l
        width: calc(100% - 5px)
        margin: 0 0 5px 5px
      .visual
        height: 90px
        width: 100%
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        margin-bottom: 10px
        @include tablet-l
          display: none
      .title
        font-size: 12px
        line-height: 20px
        font-weight: bold
        text-align: center
        display: block
        @include tablet-l
          font-weight: 300
          font-size: 14px
  a
    display: block
    width: 100%
    height: 100%
    color: #1d1d1b
    padding: 0!important
    text-decoration: none
    &:hover
      color: $colorRed!important




