@import "../helper/variables"
@import "../helper/media"
// INFO-TABS
.info-tabs
  padding: 90px 160px
  @include desktop-standart
    padding: 35px 20px
  @include tablet-p
    padding: 0
  .slick-slider .slick-next,
  .slick-slider .slick-prev
    background-color: transparent
  .tabs-info-header
    display: flex
    flex-direction: column

    .item
      font-size: 20px
      text-align: center
      line-height: 70px
      margin-bottom: 10px
      font-weight: 600
      cursor: pointer
      box-shadow: 0 0 15px rgba(0,0,0,0)
      @include transition
      &:hover,
      &.active
        color: $colorRed
        background-color: #e6e6e6
        box-shadow: 0 0 15px rgba(0,0,0,0.1)
        @include mobile-middle
          background: transparent
          box-shadow: none
  .tabs-body
    margin-left: 80px
    @include desktop-standart
      margin-left: 30px
    @include tablet-p
      margin-left: 0
.tabs-body
  position: relative
  overflow: hidden

  .item-content
    opacity: 0
    overflow: hidden
    position: absolute
    top: 0
    left: -100vw
    width: 100%
    @include transition-long
    @include tablet-p
      position: relative
      max-height: 0
      left: 0
    &.active
      left: 0
      opacity: 1
      position: relative
      @include tablet-p
        max-height: 9999px
//outlet-tabs
.outlet-tabs
  .tabs-header
    display: flex
    padding: 40px 0
    text-align: center
    .item
      margin-left: 40px
      text-transform: uppercase
      font-size: 20px
      line-height: 30px
      cursor: pointer
      position: relative
      @include transition
      &:after
        content: ""
        width: 100%
        height: 4px
        position: absolute
        top: calc(100% + 4px)
        left: 0
        background-color: transparent
      &.active
        color: #d9a87e
        &:after
          background-color: #d9a87e
  .tabs-body
    .products-list
      margin-bottom: 40px
    .ajax-more
      margin: 0 auto
      width: 400px
      display: block
      max-width: 95%
    .row
      margin: 0
    .col
      padding: 0
      margin: 0
    .description
      position: relative
      display: flex
      height: 100%
      align-items: center
      justify-content: center
      @include tablet-l
        padding: 30px 15px
        order: -1
      .bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      .product-title
        text-transform: uppercase
      .text
        position: relative
        z-index: 2
        color: $colorWhite
        font-weight: 300
        .product-title
          font-size: 32px
          line-height: 48px
        .prodict-param
          list-style: none
          margin-bottom: 45px
          @include tablet-p
            margin-bottom: 30px
          li
            position: relative
            padding-left: 10px
            margin-bottom: 5px
            &:before
              position: absolute
              width: 5px
              height: 1px
              content: ""
              background-color: $colorWhite
              left: 0
              top: 11px
      .price-wrap
        display: flex
        flex-direction: column
        .old-price
          font-size: 12px
          line-height: 16px
          font-weight: 500
          text-transform: uppercase
          padding: 0 20px
          margin-bottom: 20px
          position: relative
          &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 169px
            height: 19px
            background: url("../images/old-ico.png") no-repeat center

    .visual
      .product-slider
        margin: 0
        .item
          height: 615px
          min-height: 100%
          background-size: cover
          background-position: center
          background-repeat: no-repeat
          transform: scale(1)
          @include transition-long
          @include tablet-l
            height: 450px
          @include mobile-middle
            height: 350px
          &:hover
            transform: scale(1.1)
        .slick-dots
          left: 20px
          transform: none
          justify-content: flex-start
          button
            width: 20px
            height: 20px
            background-color: rgba(255,255,255,0.9)
          .slick-active
            button
              background-color: $colorRed



