//VISUAL SECTIONS
.visual-section
  .row
    width: 100%
    margin: 0
    .col
      margin: 0
      padding: 0
      overflow: hidden
  .visual
    height: 730px
    position: relative
    overflow: hidden
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    @include transition
    @include desktop-standart
      height: 500px
    @include mobile-l
      height: 400px
      &.mobile-middle-height
        height: 250px
    &.zoom
      .visual-img
        transform: scale(1)
        @include transition-long
        &:hover
          transform: scale(1.1)
    &.mini-visual
      height: 600px
      @include tablet-l
        height: 300px
      .title-box
        width: 475px
        height: 350px
        @include tablet-l
          height: 200px
    &.info-block
      @include desktop-standart
        height: auto
      @include mobile-l
        height: auto
      .title-section
        position: absolute
        color: $colorWhite
        opacity: 0.2
        font-size: 62px
        line-height: 70px
        font-weight: 700
        top: -13px
        z-index: 2
        left: 40px
        @include tablet-p
          left: 10px
      &.big-ico
        .title-section
          font-size: 200px
          line-height: 200px
          @include tablet-p
            font-size: 62px
            line-height: 70px
        .title-box
          >.text
            padding-top: 200px
            @include tablet-p
              padding-top: 70px
    .visual-img
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      @include transition



      .title-box
        height: 100%
        width: 100%
        >.text
          padding: 100px 40px 10px
          text-align: left
          font-size: 16px
          line-height: 23px
          font-weight: 300
          @include tablet-l
            padding: 70px 40px 10px
          @include tablet-p
            padding: 70px 15px 10px
          h2
            margin-bottom: 10px!important
            text-transform: uppercase
          h4
            text-transform: uppercase
          .has-border
            margin-bottom: 25px!important
            padding-bottom: 20px
            position: relative
            &:after
              content: ""
              width: 320px
              max-width: 100%
              height: 1px
              background-color: $colorRed
              position: absolute
              top: 100%
              left: 0
          p
            margin-bottom: 25px
          .btn
            margin-top: 20px
            font-size: 24px
            display: inline-block
      .bg
        opacity: 1!important

    .box-wrap
      display: flex
      height: 100%
      align-items: center
      justify-content: center
      text-decoration: none
      color: #fff
      position: relative
      z-index: 3
    &:hover,
    &.hover-effect,
    &.full-bg
      .title-box,
      .title-box.half-width
        height: 100%
        width: 100%
        &.no-hover
          height: auto
          width: 100%
          &.full-width
            width: 95%
        .bg
          opacity: 0.9
    &.hover-effect
      .title-box,
      .title-box.half-width
        .bg
          opacity: 0.5
    &.full-bg
      .title-box,
      .title-box.half-width
        .bg
          opacity: 1
    .wrap-bg
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      opacity: 0.7
    .title-box
      width: 350px
      max-width: 100%
      height: 350px
      display: flex
      align-items: center
      justify-content: center
      font-size: 16px
      line-height: 30px
      position: relative
      flex-direction: column
      text-align: center
      &.half-width
        width: 540px
        height: 290px
        @include desktop
          height: 100%
          width: 100%
      &.full-width
        width: 95%
      @include transition-long
      .bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0.66
      .text
        position: relative
        z-index: 2
        max-width: 100%
        width: 100%
        a
          color: inherit
          text-decoration: none
          display: block
        @include desktop
          br
            display: none
        h2
          margin: 0
      h2,h3
        font-weight: 700
        text-transform: uppercase
        @include mobile-l
          br
            display: none
      .subtitle
        font-size: 16px
        line-height: 20px
        text-transform: uppercase
        letter-spacing: 1.3px
      img
        margin-bottom: 40px
    .add-info
      position: absolute
      bottom: 20px
      left: 0
      width: 100%
      text-transform: uppercase
      color: #ffffff
      font-size: 12px
      text-align: center
      letter-spacing: 1.1px
      @include desktop
        font-size: 10px
        line-height: 12px
        letter-spacing: 0
  .preview-section
    display: flex
    height: 100%
    @include tablet-l
      flex-direction: column
    .visual-previews
      display: flex
      width: 310px
      flex-direction: column
      @include desktop-standart
        width: 150px
      @include tablet-l
        width: 100%
        flex-direction: row


      .item
        height: 33.3%
        @include tablet-l
          height: 100px
          width: 33.3%
        @include mobile-middle
          height: 70px
      .visual-preview
        height: 100%
        cursor: pointer
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    .visual
      width: calc(100% - 310px)
      height: 100%
      min-height: 0
      @include desktop-standart
        width: calc(100% - 150px)
      @include tablet-l
        width: 100%
        height: 400px
        order: -1
      @include mobile-middle
        height: 300px
  .description
    padding: 30px 40px
    color: $colorWhite
    font-size: 18px
    line-height: 30px
    min-height: 230px
    display: flex
    flex-direction: column
    justify-content: center
    @include mobile-l
      padding: 40px 10px
    h2
      margin-bottom: 15px
    p
      margin: 0

.box
  width: 170px
  height: 170px
  border: 10px solid currentcolor
  position: relative
  @include tablet-l
    margin: 0 auto
    position: relative
    left: -50px
  @include mobile-middle
    left: 0
    margin: 0
    height: 150px
  span
    background-color: white
    color: inherit
    position: absolute
    padding: 10px 0
    top: 50%
    width: 380px
    font-size: 36px
    font-weight: 700
    text-transform: uppercase
    line-height: 1.2
    opacity: 0
    left: 0
    @include transform-y
    @include transition-long
    &.animation
      left: 70px
      opacity: 1
      @include mobile-middle
        left: 40px
    @include tablet-p
      opacity: 1
      left: 70px
    @include mobile-l
      font-size: 26px
    @include mobile-middle
      left: 40px
  &.white-border
    border-right-width: 0
    &:before,
    &:after
      content: ""
      width: 10px
      height: 30px
      position: absolute
      right: 0
      top: 0
      background-color: $colorWhite
    &:after
      top: auto
      bottom: 0
    span
      background: transparent
//newsletter-section
.newsletter-section
  .visual
    height: 650px

    &.hover-effect
      .visual-img
        transform: scale(1)
        @include transition-long
      &:hover
        .visual-img
          transform: scale(1.1)
    @include desktop-standart
      height: 500px
    @include mobile-l
      height: 400px
  .add-form
    margin-top: 60px
    @include desktop
      margin-top: 0
  form
    width: 540px
    margin: 0 auto
    @include desktop
      width: 90%
.home
  .newsletter-section
    .visual
      .visual-img
        transform: scale(1)!important
      &:hover
        .visual-img
          transform: scale(1)
//achievements-section
.achievements-section
  .visual
    height: 520px
    @include desktop-standart
      height: 450px
//tabs
.kategorien-tab
  .col
    overflow: visible!important
    position: relative
    &.active
      .title-box
        height: 100%
        width: 100%
      .description
        left: 0
        z-index: 10
        opacity: 0.9
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
    &:nth-child(2)
      .description
        margin-left: -33.3vw
        @include tablet-l
          margin: 0
    &:nth-child(3)
      .description
        margin-left: -66.6vw
        @include tablet-l
          margin: 0
  .visual
    cursor: pointer
    @include mobile-l
      height: 450px!important
  .description
    padding: 90px 80px 40px 0
    color: #1a1919
    width: 100vw
    left: -100vw
    opacity: 0
    box-shadow: 0 0 10px rgba(0, 0, 0, 0)
    position: relative
    z-index: 2
    font-size: 14px
    line-height: 24px
    @include transition-long
    @include tablet-l
      position: absolute
      height: 100%
      width: 100%
      padding: 25px 0
      top: 0
      left: 0
      .container
        height: 100%
        overflow: auto
        display: flex
        flex-direction: column
        justify-content: center
    @include mobile-l
      font-size: 13px
      line-height: 15px










