//news
.news
  height: 370px
  padding: 20px 100px
  box-sizing: border-box
  display: flex
  align-items: center
  color: $colorWhite
  font-size: 18px
  line-height: 38px
  position: relative
  background-position: 50% 100%
  background-attachment: fixed
  @include tablet-p
    min-height: 440px
    height: auto
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.6)
  .row
    height: auto
    position: relative
    z-index: 2
    justify-content: space-between
  @include desktop-standart
    padding: 20px 10px
    font-size: 16px
    line-height: 20px