//POST
.post
  font-size: 14px
  line-height: 24px
  margin-bottom: 60px
  &.no-margin-b
    margin-bottom: 0
  &.full-width
    background-color: #f8f8f8
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
    position: relative
    &.no-shadow
      box-shadow: none
    .visual
      position: absolute
      top: 0
      right: 0
      width: 50vw
      @include tablet-l
        position: relative
        width: 100%
    .action
      position: relative
      &:before
        background-color: $colorRed
        height: 100%
        width: 100vw
        top: 0
        position: absolute
        right: 100%
        content: ""
        @include tablet-l
          display: none


  @include desktop-standart
    margin-bottom: 40px
  @include mobile-middle
    margin-bottom: 20px
  .row
    margin: 0
    width: 100%
    @include tablet-p
      max-width: 95%
      margin: 0 auto
  .col
    padding: 0
    margin: 0
  .action
    color: $colorWhite
    background-color: $colorRed
    @include tablet-l
      margin-bottom: 30px
    .container
      padding: 7px 0
      max-width: 100%
      @include big-desktop
        padding: 20px 0
      @include tablet-l
        max-width: 95%
    .title
      display: block
      font-weight: 700
      text-transform: uppercase
    .text
      font-size: 28px
      font-weight: 700
      line-height: 28px
      display: block
    .data
      font-size: 12px
      line-height: 14px
  //description
  .description
    padding: 90px 80px 40px 0
    @include tablet-l
      padding: 30px 0 20px 0
      margin-bottom: 30px
    &.no-padding-top
      padding-top: 0
    .sub-title
      display: block
      margin-bottom: 10px
      a
        text-decoration: none
    .post-title
      margin-bottom: 35px
      @include mobile-l
        margin-bottom: 20px
    &.kontakt-info
      a
        text-decoration: none
        &:hover
          color: #d9a87e

      li
        margin-bottom: 5px

  .param-list
    margin-bottom: 25px
    .param-title
      font-weight: bold
      display: block
    dl
      display: flex
      @include tablet-p
        flex-direction: column
      dt
        min-width: 100px
        margin-top: 15px
        margin-right: 10px
        @include tablet-p
          margin-right: 0
          min-width: 0
          font-weight: bold
      dd
        margin-top: 15px
        @include tablet-p
          margin-top: 0

  //visual
  .visual-wrap
    min-height: 620px
    @include desktop-standart
      min-height: 400px
    @include mobile-middle
      min-height: 250px
  .visual
    height: 100%
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    .slider-for,
    .slider-nav
      .item
        background-repeat: no-repeat
        background-position: center
        background-size: cover
    .slider-for
      margin-bottom: 15px
      .item
        height: 530px
        @include mobile-l
          height: 350px
        @include mobile-p
          height: 250px
    .slider-nav
      max-width: 430px
      margin: 0 auto 15px
      .item
        height: 100px
        cursor: pointer
        @include mobile-l
          height: 50px
      .visual
        margin: 0 5px
        min-height: 0
      .slick-prev,
      .slick-next
        width: 30px
        height: 100%
        &:hover
          background-color: rgba(255,255,255,0.2)
//btns-list
.btns-list
  display: flex
  margin-left: -30px
  width: 100%
  @include mobile-middle
    flex-direction: column
  .btn
    margin-left: 30px
    width: 50%
    text-transform: none
    padding: 18px 20px
    @include mobile-middle
      width: 100%


