//PRODUCTS
.products
  padding: 90px 0 60px
  @include tablet-p
    padding: 50px 0 30px
  .product-settings
    display: flex
    justify-content: flex-end
    .setting-title
      padding-left: 135px
      margin: 0
      position: relative
      letter-spacing: 1.3px
      margin-bottom: 45px
      @include desktop-standart
        margin-bottom: 30px
      @include tablet-p
        padding-left: 70px
      &:before
        width: 45px
        height: 45px
        content: ""
        position: absolute
        border: 5px solid #d9a87e
        top: 50%
        left: 57px
        @include transform-y
        @include tablet-p
          left: 0
    .settings
      display: flex
      justify-content: flex-end
      @include tablet-p
        flex-direction: column
    .tabs-header
      display: flex
      margin-bottom: 45px
      @include desktop-standart
        margin-bottom: 20px
      .slick-prev,
      .slick-next
        background: none
        width: 40px
        height: 40px
        opacity: 1
        &:before,
        &:after
          border-color: #000
          width: 15px
          height: 15px
        &:before
          left: -10px
      .slick-prev
        &:after
          left: -10px
      .item
        margin-left: 85px
        text-transform: uppercase
        font-size: 20px
        line-height: 30px
        letter-spacing: 1.3px
        padding-bottom: 10px
        cursor: pointer
        position: relative
        @include transition


        @include very-big-desktop
          letter-spacing: inherit
        @include middle-desktop
          margin-left: 50px
        @include big-desktop
          margin-left: 20px
        @include mobile-middle
          margin-left: 0
          text-align: center
          padding: 0
        &:before
          content: ""
          left: 0
          top: calc(100% - 5px)
          height: 4px
          position: absolute
          width: 100%
          background-color: transparent
          @include transition
        &:first-child
          margin-left: 0
        &.active,
        &:hover
          color: #d9a87e
          &:before
            background-color: #d9a87e
            @include mobile-middle
              display: none
  .tabs-body
    position: relative
    .item-content
      opacity: 0
      overflow: hidden
      position: absolute
      top: 0
      left: -100vw
      width: 100%
      @include transition-long
      @include tablet-p
        position: relative
        max-height: 0
        left: 0
      &.active
        left: 0
        opacity: 1
        position: relative
        @include tablet-p
          max-height: 9999px
  .item-wrap
    padding: 5px
  .visual
    height: 410px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    opacity: 1
    @include transition
    &:hover
      opacity: 0.7
    @include desktop-standart
      height: 300px
    a
      display: block
      height: 100%
  .description
    padding: 15px 0
    text-transform: uppercase
    font-size: 12px
    line-height: 18px
    text-align: center
    .title
      display: block
      margin-bottom: 6px
      a
        text-decoration: none
        &:hover
          color: #d9a87e
    .param
      display: block
      margin-bottom: 14px
    .price
      font-size: 20px
      line-height: 24px
      font-weight: 700