//PRODUCTS-LIST
.product-list
  margin-bottom: 30px
  .item
    display: flex
    flex-direction: column
    margin-bottom: 20px
    position: relative
    &:hover
      .preview-list
        max-width: 140px
        opacity: 1
        padding: 20px
        @media (max-width: 1850px)
          max-width: 100%
        @include desktop-standart
          padding: 20px 10px
    .visual
      background-repeat: no-repeat
      background-size: cover
      background-position: center
      height: 420px
      a
        display: block
        height: 100%
      @include tablet-p
        height: 320px
      @include mobile-middle
        height: 270px
    .preview-list
      display: flex
      flex-direction: column
      position: absolute
      top: 0
      right: 100%
      width: 140px
      height: 100%
      padding: 20px 0
      max-width: 0
      opacity: 0
      overflow: hidden
      background-color: #fff
      @include transition
      @media (max-width: 1850px)
        position: relative
        width: 100%
        height: 140px
        top: 0
        left: 0
        padding: 20px 0
        flex-direction: row
      @include desktop-standart
        opacity: 1
        max-width: 100%
        padding: 20px 10px
      @include mobile-l
        height: 100px
      @include mobile-p
        height: 90px
      .item
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        margin-top: 10px
        height: 88px
        margin-bottom: 0
        cursor: pointer
        @media (max-width: 1850px)
          width: 25%
          margin: 0 0 0 10px
          &:first-child
            margin-left: 0
        @include mobile-l
          height: 100px
        @include mobile-p
          height: 50px
        &:first-child
          margin-top: 0

    .description
      padding: 15px 20px
      text-align: center
      background-color: $colorWhite
      text-transform: uppercase
      @include transition
      @include desktop-standart
        background-color: #e6e6e6
      a
        &:hover
          text-decoration: none
          color: #d9a87e
      .title
        font-size: 20px
        line-height: 24px
        margin-bottom: 5px
        font-weight: 400
      .sub-title
        font-weight: 300
        font-size: 20px
        line-height: 24px
        margin-bottom: 5px
      .param
        font-size: 12px
        line-height: 16px
        display: block
        margin-bottom: 15px
      .price
        font-size: 20px
        line-height: 24px
        font-weight:  700
        text-transform: none
      .info
        font-size: 12px
        line-height: 16px
        display: block
        margin-bottom: 15px
        color: $colorRed
      .ml
        font-size: 12px
        font-weight: 300
  .ajax-download
    background-color: #f8f8f8
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    font-size: 42px
    line-height: 50px
    font-weight: bold
    color: #b5b5b5
    text-transform: uppercase
    text-align: center
    cursor: pointer
    min-height: 400px
    @include transition
    &:hover
      color: #f8f8f8
      background-color: #b5b5b5


















