//SECTIONS
.section
  color: #000
  .title
    text-align: center
    font-weight: 500
    margin-bottom: 50px
    letter-spacing: 1.5px
    @include desktop-standart
      margin-bottom: 35px
    @include mobile-middle
      margin-bottom: 20px
  &.advantages
    padding: 35px 0 40px
    &.has-bg
      min-height: 430px
      background-repeat: no-repeat
      background-size: cover
      background-position: center
      background-attachment: fixed
      display: flex
      color: $colorWhite
      align-items: center
      justify-content: center
      position: relative
      @include mobile-l
        min-height: 350px
      &:before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,0.5)
    .container
      position: relative
      z-index: 2
//advantages-list
.advantages-list
  width: 100%
  .row
    @include mobile-l
      justify-content: center
  .col
    align-items: center
    @include mobile-middle
      align-items: flex-start
  .description
    padding: 5px 0 5px 90px
    font-size: 14px
    line-height: 20px
    background-repeat: no-repeat
    background-position: 0 50%
    @include desktop-standart
      padding: 65px 0 0 0
      text-align: center
      background-position: 50% 0
    @include mobile-middle
      background-position: 0 50%
      padding: 5px 0 5px 90px
      text-align: left

  h5
    margin: 0
    font-weight: 500






























