@import "../helper/variables"
@import "../helper/media"
// SLICK-SLIDER
.slick-slider
  position: relative
  display: block
  box-sizing: border-box
  user-select: none
  touch-action: pan-y
  &.image-slider,
  &.img-carousel
    overflow-x: hidden
  &:hover
    .slick-next,
    .slick-prev,
    .slick-dots
      opacity: 1
  .slick-list
    position: relative
    display: block
    overflow: hidden
    width: 100%
    margin: 0
    padding: 0
    &:focus
      outline: none
    &.dragging
      cursor: hand
  .slick-track,
  .slick-list
    transform: translate3d(0, 0, 0)
  .slick-track
    position: relative
    top: 0
    left: 0
    &:before,
    &:after
      display: table
      content: ''
    &:after
      clear: both
  .slick-slide
    float: left
    height: 100%
    min-height: 1px
    margin-bottom: 0
    img
      display: block
      width: 100%
    //navigation
  .slick-next,
  .slick-prev
    opacity: 0
    position: absolute
    width: 100px
    height: 100px
    cursor: pointer
    z-index: 101
    text-indent: -9999px
    background-color: rgba(255,255,255,0.2)
    top: 50%
    display: flex
    justify-content: center
    align-items: center
    @include transform-y
    @include transition
    @include mobile-l
      opacity: 1!important
      width: 35px!important
      &:after
        border-color: $colorRed!important
    &:after
      display: block
      position: relative
      border-top: 2px solid $colorWhite
      border-left: 2px solid $colorWhite
      text-align: center
      content: ""
      left: -5px
      color: $colorWhite
      line-height: 29px
      width: 24px
      height: 24px
      text-indent: 0 !important
      transform: rotate(135deg)
    &:hover
      background-color: $colorWhite
      &:after
        border-color: $colorRed
  .slick-prev
    left: 10px
    right: auto
    &:after
      transform: rotate(-45deg)
      left: 10px
  .slick-next
    left: auto
    right: 10px
  .slick-dots
    opacity: 0
    position: absolute
    bottom: 20px
    left: 50%
    @include transition
    @include transform-x
    @include wrap
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: center
    li
      margin: 0 0 0 10px
      width: auto
      height: auto
      &:first-child
        margin-left: 0
      &.slick-active
        button
          background-color: $colorWhite
    button
      float: left
      text-indent: -9999px
      border: 0
      width: 10px
      height: 10px
      background-color: rgba(255,255,255,0.5)
      @include transition
      cursor: pointer
      &:hover
        background-color: $colorWhite

//MAIN-SLIDER
.ready-page
  .main-slider-section
    .slick-current
      .visual
        transform: scale(1.1)
.main-slider-section
  position: relative
  .main-slider
    margin-bottom: 0
    .container
      position: relative
      z-index: 2
  .visual
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    background-position: 50% 50%
    background-size: cover
    background-repeat: no-repeat
    transform: scale(1)
    transition: all 5s ease-in-out
  .description
    margin-bottom: 50px
    @include tablet-p
      margin-bottom: 25px
  .item
    height: 800px
    max-height: calc(100vh - 140px)
    position: relative
    color: $colorWhite
    display: flex
    align-items: center
    font-size: 20px
    line-height: 30px
    font-weight: 300
    transform: scale(1)
    transition: all 5s ease-in-out
    &.zoom
      .visual
        transform: scale(1.1)
        @include tablet-l
          transform: scale(1)
    @include tablet-l
      br
        display: none
    @include mobile-l
      font-size: 16px
      line-height: 25px
    &:before
      background-color: rgba(0,0,0,0.4)
      height: 100%
      width: 100%
      position: absolute
      z-index: 0
      top: 0
      left: 0
      content: ""
    @include mobile-l
      height: 400px
      max-height: 100%
    .container
      position: relative
      z-index: 2
      @media (max-width: 1800px)
        width: 1000px
      @media (max-width: 1280px)
        width: 95%
    h2
      font-size: 92px
      line-height: 110px
      font-weight: bold
      margin-bottom: 0
      text-transform: uppercase
      @include tablet-p
        font-size: 70px
        line-height: 80px
      @include mobile-l
        font-size: 40px
        line-height: 50px
  .social-links
    position: absolute
    bottom: 40px
    left: 0
    width: 100%
    ul
      display: flex
      padding: 0
      margin: 0
      list-style: none
    li
      padding-left: 7px
      margin: 0 0 0 7px
      font-size: 16px
      line-height: 20px
      position: relative
      &:before
        width: 1px
        height: 12px
        content: ""
        position: absolute
        left: 0
        top: 50%
        background-color: #fff
        @include transform-y
      &:first-child
        margin-left: 0
        padding-left: 0
        border-left: 0
        &:before
          display: none
    a
      text-decoration: none
      color: $colorWhite
      font-weight: 500
      text-transform: uppercase
      @include transition

      &:hover
        color: $colorRed

//PARTNERS-GALLERY
.partners
  .partners-list
    margin: 0
    .item
      background-repeat: no-repeat
      background-position: center
      height: 240px
      opacity: 1
      @include transition
      &:hover
        opacity: 0.7
      a
        display: block
        height: 100%
    .slick-prev,
    .slick-next
      background: none
      width: 40px
      height: 40px
      &:before,
      &:after
        border-color: #000
        width: 15px
        height: 15px
      &:before
        left: -10px
      &:hover
        background-color: $colorWhite
        &:after
          border-color: $colorRed

.slick-disabled
  opacity: 0.2!important
//achievements-gallery
.achievements-gallery
  margin: 0
  .item
    background-repeat: no-repeat
    background-position: center
    background-size: auto 90%
    height: 135px
    .widget_container_badge,
    iframe
      max-height: 100%
      height: 100%!important
    a
      display: block
      height: 100%
  .slick-prev,
  .slick-next
    background: none
    width: 40px
    height: 40px
    &:before,
    &:after
      border-color: #000
      width: 15px
      height: 15px
    &:before
      left: -10px

//products-slider
.products
  .tabs-slider,
  .tabs-header
    @include tablet-p
      margin-bottom: 30px
    .slick-dots
      position: relative
      bottom: 0
      width: auto
      margin-left: 60px
      display: none!important
      @include transition-long
      &.active
        display: block!important
      @include very-big-desktop
        margin-left: 20px
      @include mobile-middle
        margin-left: 0
      li
        margin-left: 5px
        width: 10px
        height: 10px
        &:first-child
          margin-left: 0
        &.slick-active,
        &:hover
          button
            background-color: #818181
      button
        width: 10px
        height: 10px
        border-radius: 50%
        background-color: #dadada
        @include transition
        &:before
          display: none



//fancybox
.fancybox-next,
.fancybox-prev,
.fancybox-close
  opacity: 1
  position: absolute
  width: 100px
  height: 100px
  cursor: pointer
  z-index: 101
  text-indent: -9999px
  background-color: rgba(255,255,255,0.2)
  top: 50%
  display: flex
  justify-content: center
  align-items: center
  @include transform-y
  @include transition
  @include mobile-l
    width: 50px
    height: 100%
  &:after
    display: block
    position: relative
    border-top: 2px solid $colorWhite
    border-left: 2px solid $colorWhite
    text-align: center
    content: ""
    left: -5px
    color: $colorWhite
    line-height: 29px
    width: 24px
    height: 24px
    text-indent: 0 !important
    transform: rotate(135deg)
  &:hover
    background-color: $colorWhite
    &:after
      border-color: $colorRed
.fancybox-prev
  left: 10px
  right: auto
  &:after
    transform: rotate(-45deg)
    left: 10px
.fancybox-next
  left: auto
  right: 10px
.fancybox-close
  top: 0
  transform: none
  right: 0
  text-decoration: none
  &:after
    content: "\f00d"
    color: #fff
    border: 0
    -webkit-transform: none
    transform: none
    font: normal normal normal 50px/100px FontAwesome
    width: auto
    height: auto
  &:hover
    &:after
      color: $colorRed
.tabs-info-header
  .item
    box-shadow: none!important
    background: none!important
  .slick-next,
  .slick-prev
    opacity: 1!important
    width: 40px
    &:after
      border-color: #aa2323!important