<footer id="footer" class="footer">
    <div class="footer-top">


    <div class="row">
        <div class="col col-3 col-big-desktop-5 col-desktop-12  col-mob-12" style="background-color: #a6988a;">
            <div class="contact-wrap">


            <div class="contact">
                <span>
                    <strong>Lebensart kreatives Wohnen</strong><br>
                    Ahornstraße 4<br><br>
                    12163 Berlin-Steglitz (Ecke<br> Schloßstraße)<br>
                    <strong>Tel.: <a href="tel:03089540088">030 / 89 54 00 88</a><br>
                       <a href="mailto:info@lebensart-berlin.de">info@lebensart-berlin.de</a></strong><br><br>
                    Öffnungszeiten:<br>
                    Mo-Fr: 10-19 Uhr<br>
                    Sa: 10-16 Uhr<br>
                </span>
            </div><!-- //contact -->
            <div class="newsletter">
                <h6 class="formular-title">Jetzt für unseren kostenlosen Newsletter anmelden und 10 € Gutschein erhalten!</h6>
                <form action="index.html">
                    <input type="email" required="required" placeholder="E-Mailadresse eingeben">
                    <input type="submit" value="Senden">
                </form>
            </div>
            </div>
        </div>

        <div class="col col-3 col-big-desktop-2 col-desktop-4 col-mob-12" style="background-color: #99a66a;">
            <h6 class="col-title"><span class="title-text">Infos</span></h6>
            <div class="col-content">
            <ul>
                <li><a href="#">Angebote</a></li>
                <li><a href="#">Beratungstermin in unserem<br> Möbelhaus buchen</a></li>
                <li><a href="#">Bewerten Sie uns</a></li>
                <li><a href="#">Furniture Store in Berlin-Steglitz</a></li>
                <li><a href="#">Lebensart Gutschein</a></li>
                <li><a href="#">Marken</a></li>
                <li><a href="#">Materialhinweise</a></li>
                <li><a href="#">Pflegeprodukte</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Stellenangebote</a></li>
                <li><a href="#">Über uns</a></li>
                <li><a href="#">Unser Möbelhaus in Berlin</a></li>
            </ul>
            </div>
        </div>

        <div class="col col-3  col-big-desktop-2 col-desktop-4 col-mob-12" style="background-color: #99a66a;">
            <h6 class="col-title"><span class="title-text">Möbel</span></h6>
            <div class="col-content">
            <ul>
                <li><a href="#">Accessoires & Deko</a></li>
                <li><a href="#">Betten</a></li>
                <li><a href="#">Couchtische</a></li>
                <li><a href="#">Esstische</a></li>
                <li><a href="#">Garderoben</a></li>
                <li><a href="#">INNOVATION Schlafsofas</a></li>
                <li><a href="#">Kleinmöbel</a></li>
                <li><a href="#">Leuchten</a></li>
                <li><a href="#">Regale</a></li>
                <li><a href="#">Relaxsessel</a></li>
                <li><a href="#">Schlafsofas</a></li>
                <li><a href="#">Schränke</a></li>
                <li><a href="#">Sofas</a></li>
                <li><a href="#">Stühle</a></li>
            </ul>
            </div>
        </div>

        <div class="col  col-3 col-big-desktop-3 col-desktop-4  col-mob-12" style="background-color: #99a66a;">
            <h6 class="col-title"><span class="title-text">Themen</span></h6>
            <div class="col-content">
            <ul>
                <li><a href="#">Bestseller</a></li>
                <li><a href="#">Möbel</a></li>
                <li><a href="#">Möbel-Tipps</a></li>
                <li><a href="#">Neue Produkte</a></li>
                <li><a href="#">Outlet</a></li>
            </ul>
            <p>
                Hinweis* ¹ 0% Finanzierung ab 1.000 Euro<br> Finanzierungssumme
            </p>
            <p>
                Sie können Ihre neuen Möbel bei uns mit 12 oder 24 Monaten Laufzeit ohne Zinsen finanzieren.
                Es fallen keine weiteren Kosten an. 0,00% effektiver Jahreszins. Bonität vorausgesetzt.
                Bitte beachten Sie, dass eine Anzahlung von ca. 20% notwendig ist.
                Finanzierungsbeispiel für einen Einkauf von 4.000 Euro: Sie zahlen 800 Euro an und finanzieren die restlichen 3.200 Euro mit 12 Monatsraten á 266,66 Euro.
                Finanzpartner ist die TARGOBANK AG & Co. KGaA, Kasernenstr. 10, 40213 Düsseldorf. Nicht gültig für reduzierte Artikel.
            </p>
            </div>
        </div>
    </div><!-- //row -->
    </div>
    <div class="footer-bottom">


    <div class="row">
        <div class="col col-9 col-big-desktop-8 col-middle-desktop-12">
            <span class="copy">
                Möbel in Berlin-Steglitz günstig kaufen bei Lebensart Möbelhaus Berlin  >> <a href="#">Erfahre Sie mehr</a>
            </span>
        </div>
        <div class="col col-3 col-big-desktop-4 col-middle-desktop-12">
          <ul class="footer-links">
              <li><a href="#" class="nav-link">Impressum</a></li>
              <li><a href="#" class="nav-link">Datenschutzerklärung</a></li>
              <li> <a href="#" class="nav-link">AGB´s</a></li>
          </ul>
        </div>
    </div>
    </div>
</footer><!-- //footer -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5dizOAntbZ0DBtEiIuEVKyFc9kbpgHDU"></script>
<script src="js/common.js"></script>
