<meta charset="utf-8">
<title>Lebensart</title>
<meta name="viewport" content="width=device-width, initial-scale=1"><!-- responsive -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<link rel="stylesheet" href="css/libs.min.css"/>
<link rel="stylesheet" href="css/main.css"/>
<link href="images/favicon.png" rel="shortcut icon" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet">