<header id="header" class="header">

    <div class="header-top">
        <div class="container">
            <div class="burger menu-opener-js"><span class="bar"></span><span class="bar"></span><span
                    class="bar"></span></div>
            <div class="contact-info">
                <span class="tel">
                    <a href="tel:03089540088">030 - 89 54 00 88 </a>
                </span>
                <span class="time">Mo-Fr: 10-19 & Sa: 10-16 Uhr</span>
            </div><!-- //contact-info -->
            <div class="anfahrt">
                <a href="#" class="btn">Anfahrt</a>
            </div><!-- //anfahrt -->
        </div>
    </div><!-- //header-top -->

    <div class="header-bottom">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt="logo"/></a>
            </div>
            <div class="top-links">


                <!-- navigation -->
                <div class="navigation">
                    <nav>
                        <ul>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link">Home</a>
                                <i class="drop-down-icon"></i>
                                <div class="dropdown-menu">
                                    <div class="drop-down-list">


                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img01.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img02.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img01.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img02.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img01.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img02.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>


                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img01.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img02.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img01.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img02.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img01.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a class="nav-item" href="#">
                                                <div class="visual"
                                                     style="background-image: url('images/slider-img02.jpg');"></div>
                                                <span class="title">Möbel</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li class="nav-item"><a href="#" class="nav-link">Möbel</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Angebote</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">SERVICE</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">MÖBEL-TIPPS</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Outlet</a></li>
                        </ul>
                    </nav>
                </div><!-- //navigation -->


                <div class="favorite">
                    <a href="#">
                        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="heart" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-heart">
                            <path fill="currentColor"
                                  d="M462.3 62.7c-54.5-46.4-136-38.7-186.6 13.5L256 96.6l-19.7-20.3C195.5 34.1 113.2 8.7 49.7 62.7c-62.8 53.6-66.1 149.8-9.9 207.8l193.5 199.8c6.2 6.4 14.4 9.7 22.6 9.7 8.2 0 16.4-3.2 22.6-9.7L472 270.5c56.4-58 53.1-154.2-9.7-207.8zm-13.1 185.6L256.4 448.1 62.8 248.3c-38.4-39.6-46.4-115.1 7.7-161.2 54.8-46.8 119.2-12.9 142.8 11.5l42.7 44.1 42.7-44.1c23.2-24 88.2-58 142.8-11.5 54 46 46.1 121.5 7.7 161.2z"
                                  class=""></path>
                        </svg>
                        <span class="value">0</span>
                    </a>
                </div><!-- //favorite -->
                <!-- search -->
                <div class="search-form">

                    <form accept-charset="UTF-8" id="search" method="post" action="/home"
                          data-drupal-selector="search">
                        <input type="search" value="" placeholder="Produkt finden">
                        <button type="submit" class="form-submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div><!-- //search-form -->


            </div><!-- //top-links -->
        </div><!-- //container -->
    </div><!-- //header-bottom -->


</header>
