@import "helper/variables"
@import "helper/media"
// basic style
// container
.container
  width: 1580px
  max-width: 95%
  margin: 0 auto
// wysiwyg
.wysiwyg
  ul, ol
    li
      position: relative
      padding-left: 70px
      margin: 0
      line-height: 30px
      @include tablet-p
        padding-left: 30px
  ul
    list-style: none
    li
      &:before
        background-color: $colorBlack
        width: 10px
        height: 10px
        position: absolute
        content: ""
        border-radius: 50%
        left: 37px
        top: 9px
        @include tablet-p
          left: 0
          top: 9px
          width: 9px
          height: 9px
.ajax-wrap
  @include transition-long
  opacity: 0
  &.show
    opacity: 1
//grid
.row,
.ajax-wrap
  display: flex
  height: 100%
  flex-wrap: wrap
  width: calc(100% + 10px)
  margin: 0 -5px
.col
  display: flex
  flex-direction: column
  padding: 0 5px
  box-sizing: border-box
  @include mobile-l
    margin-bottom: 20px
  &.col-1
    width: 8.3333%

  &.col-2
    width: 16.666%

  &.col-3
    width: 25%

  &.col-4
    width: 33.3%

  &.col-5
    width: 41.666667%

  &.col-6
    width: 50%

  &.col-7
    width: 58.333333%

  &.col-8
    width: 66.666667%

  &.col-9
    width: 75%

  &.col-10
    width: 83.333333%

  &.col-11
    width: 91.666667%

  &.col-12
    width: 100%
  @include big-desktop
    &.col-big-desktop-2
      width: 16.66%
    &.col-big-desktop-3
      width: 25%
    &.col-big-desktop-4
      width: 33.3%
    &.col-big-desktop-5
      width: 41.666667%
    &.col-big-desktop-6
      width: 50%
    &.col-big-desktop-7
      width: 58.333333%
    &.col-big-desktop-8
      width: 66.666667%
    &.col-big-desktop-9
      width: 75%
    &.col-big-desktop-10
      width: 83.333333%
    &.col-big-desktop-11
      width: 91.666667%
    &.col-big-desktop-12
      width: 100%
  @include desktop
    &.col-middle-desktop-2
      width: 16.66%
    &.col-middle-desktop-3
      width: 25%
    &.col-middle-desktop-4
      width: 33.3%
    &.col-middle-desktop-5
      width: 41.666667%
    &.col-middle-desktop-6
      width: 50%
    &.col-middle-desktop-7
      width: 58.333333%
    &.col-middle-desktop-8
      width: 66.666667%
    &.col-middle-desktop-9
      width: 75%
    &.col-middle-desktop-10
      width: 83.333333%
    &.col-middle-desktop-11
      width: 91.666667%
    &.col-middle-desktop-12
      width: 100%
  @include desktop-standart
    &.col-desktop-2
      width: 16.66%
    &.col-desktop-3
      width: 25%
    &.col-desktop-4
      width: 33.3%
    &.col-desktop-5
      width: 41.666667%
    &.col-desktop-6
      width: 50%
    &.col-desktop-7
      width: 58.333333%
    &.col-desktop-8
      width: 66.666667%
    &.col-desktop-9
      width: 75%
    &.col-desktop-10
      width: 83.333333%
    &.col-desktop-11
      width: 91.666667%
    &.col-desktop-12
      width: 100%
  @include tablet-l
    &.col-tab-3
      width: 25%
    &.col-tab-4
      width: 33.3%
    &.col-tab-5
      width: 41.666667%
    &.col-tab-6
      width: 50%
    &.col-tab-7
      width: 58.333333%
    &.col-tab-8
      width: 66.666667%
    &.col-tab-9
      width: 75%
    &.col-tab-10
      width: 83.333333%
    &.col-tab-11
      width: 91.666667%
    &.col-tab-12
      width: 100%
  @include mobile-l
    &.col-mob-3
      width: 25%
    &.col-mob-4
      width: 33.3%
    &.col-mob-6
      width: 50%
    &.col-mob-8
      width: 66.666667%
    &.col-mob-12
      width: 100%
  @include mobile-middle
    &.col-mob-p-12
      width: 100%
//text-align
.text-center
  text-align: center
.text-tab-center
  @include tablet-l
    text-align: center
.text-left
  text-align: left

.text-right
  text-align: right
  @include tablet-l
    align-items: center
//align-center
.align-center
  align-items: center

.align-start
  align-items: flex-start
  @include mobile-l
    align-items: center
.align-end
  align-items: flex-end
  @include mobile-l
    align-items: center
//justify-content
.content-center
  justify-content: center

.content-between
  justify-content: space-between

.content-start
  justify-content: flex-start

.content-end
  justify-content: flex-end
.content-tab-between
  @include tablet-l
    justify-content: center
//margin
.margin-b
  margin-bottom: 40px
//padding
.no-padding-b
  padding-bottom: 0
//bg
.bg-gray
  background-color: #f8f8f8


.slick-slider .container
  @media (min-width: 1200px)
      @include transition-long
      opacity: 0
      position: relative
      top: 40px
      transition-delay: 1s

.ready-page .slick-slider .container
  opacity: 1
  top: 0
.section
  opacity: 0
  @include transition-long
  &.animation
    opacity: 1



//content
.content-section
  padding: 45px 0
  position: relative
  &.add-padding
    padding: 140px 0 120px
    @include tablet-l
      padding: 45px 0
  .half-left-bg,
  .half-right-bg
    content: ""
    position: absolute
    height: 100%
    width: 100vw
    top: 0
    left: auto
    right: 50vw
    @include tablet-l
      display: none
  .half-right-bg
    left: 50%
    right: auto
  .row
    position: relative
    z-index: 2
    width: calc(100% + 40px)
    margin: 0 -20px
    @include tablet-p
      width: calc(100% + 10px)
      margin: 0 -5px
    .col
      padding: 0 20px
      @include tablet-l
        color: #000 !important
      @include tablet-p
        padding: 0 5px
    .add-horizont-padding
      padding: 0 90px
      @include tablet-l
        padding: 0

  .small-text
    font-size: 14px
    line-height: 20px
  .parking
    padding-left: 75px
    margin-bottom: 45px
    min-height: 60px
    font-size: 14px
    line-height: 20px
    display: flex
    align-items: center
    background: url('../images/parking-ico.png') no-repeat 0 50%
  .social-list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    margin-left: -60px
    justify-content: center
    li
      margin-left: 60px
      a
        display: block
        height: 100%
        font-size: 35px
        color: $colorBlack
        @include transition
        &:hover
          color: $colorRed



//accordeon
.accordeon-section
  padding: 100px 0
  @include tablet-l
    padding: 35px 0
  .accordeon-list
    display: flex
    flex-direction: column
    .accordeon-item
      background-color: $colorWhite
      color: $colorBlack
      margin-bottom: 10px
      &.active
        position: relative
        z-index: 2
        .header
          &:before
            content: "-"
        .body
          opacity: 1
          max-height: 9999px
          padding: 15px 25px
          z-index: 2
      .header
        font-size: 20px
        line-height: 30px
        font-weight: bold
        padding: 15px 25px
        cursor: pointer
        @include transition
        position: relative
        span
          display: block
          width: calc(100% - 50px)
        &:before
          position: absolute
          top: 50%
          right: 0
          content: "+"
          height: 100%
          font-size: 25px
          line-height: 60px
          width: 40px
          text-align: center
          @include transform-y
        &:hover
          color: $colorRed
      .body
        padding: 0 25px
        opacity: 0
        max-height: 0
        @include transition-long
      .tabs
        .tabs-header
          margin-bottom: 30px
          display: flex
          margin-left: -30px
          font-weight: bold
          cursor: pointer
          .slick-prev,
          .slick-next
            width: 20px
            opacity: 1!important
            background: none
            &:after
              border-color: #aa2323
              width: 15px
              height: 15px
          .slick-next
            right: -10px
          .item
            margin-left: 30px
            border-bottom: 1px solid transparent
            @include tablet-p
              text-align: center
            &.active
              border-bottom: 1px solid $colorRed
              @include tablet-l
                border: 0
        .tabs-body
          position: relative
          .item-content
            opacity: 0
            overflow: hidden
            position: absolute
            top: 0
            left: -100vw
            width: 100%
            @include transition-long
            @include tablet-p
              position: relative
              max-height: 0
              left: 0
            &.active
              left: 0
              opacity: 1
              position: relative
              @include tablet-p
                max-height: 9999px

//logos
.logos
  .logos-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    .item
      background-repeat: no-repeat
      background-position: center
      background-size: 50%
      height: 240px
      width: 25%
      opacity: 1
      @include transition
      @include tablet-p
        height: 140px
        width: 50%
      @include mobile-middle
        background-size: 70%
      &:hover
        opacity: 0.7
      a
        display: block
        height: 100%

//brands
.brands
  .brands-title
    margin-bottom: 40px
    @include tablet-p
      margin-bottom: 20px
  .brans-list
    margin: 0 0 30px
    padding: 0
    list-style: none
    li
      margin: 0 0 5px
      font-size: 14px
      text-decoration: none
      position: relative
      padding-left: 10px
      left: 0
      @include transition
      &:before
        content: ""
        position: absolute
        width: 3px
        height: 3px
        background-color: $colorBlack
        top: 50%
        left: 0
        border-radius: 50%
        opacity: 1
        @include transition
        @include transform-y

//merkliste-section
.merkliste-section
  padding: 100px 0
  position: relative
  @include tablet-l
    padding: 30px 0
  .description
    font-size: 14px
    line-height: 20px
    margin-bottom: 100px
    @include desktop
      margin-bottom: 40px
  .merkliste
    display: flex
    flex-direction: column
    >.item
      display: flex
      justify-content: flex-start
      padding: 50px 0
      border-top: 1px solid $colorRed
      @include tablet-p
        padding: 25px
        flex-direction: column
      .visual
        width: 250px
        height: 150px
        margin-right: 80px
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        @include tablet-p
          margin: 0 auto 25px
        @include mobile-middle
          width: 100%
          height: 250px
      .info
        margin-right: 20px
        width: 520px
        display: flex
        flex-direction: column
        justify-content: space-between
        @include tablet-p
          width: 100%
          margin-bottom: 10px
        .kategorien
          font-size: 16px
          line-height: 20px
          opacity: 0.8
          a
            text-decoration: none
        a
          &:hover
            text-decoration: none
            color: $colorRed
        .date,
        .text
          font-size: 14px
          line-height: 20px
      .edit
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-left: auto
        @include tablet-p
          align-items: flex-start
          margin: 0
          padding: 20px 0
        .btn
          text-transform: none
          margin: 0
          &.gray-btn
            background-color: #e6e6e6
            border-color: #e6e6e6
            color: $colorRed
            &:hover
              background-color: $colorRed
              border-color: $colorRed
              color: #e6e6e6
          &.transparent-btn
            color: $colorRed
            background: #ffffff
            border-color: #ffffff
            &:hover
              background-color: $colorRed
              border-color: $colorRed
              color: #fff

//foto-gallery
.foto-gallery
  padding: 60px 0
  .gallery-title
    padding-left: 135px
    margin: 0
    position: relative
    letter-spacing: 1.3px
    margin-bottom: 45px
    @include desktop-standart
      margin-bottom: 30px
    @include tablet-p
      padding-left: 70px
    &:before
      width: 45px
      height: 45px
      content: ""
      position: absolute
      border: 5px solid #d9a87e
      top: 50%
      left: 57px
      @include transform-y
      @include tablet-p
        left: 0
  .item-wrap
    padding: 5px
  .visual
    height: 410px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    opacity: 1
    @include transition
    &:hover
      opacity: 0.7
    @include desktop-standart
      height: 300px
    a
      display: block
      height: 100%




.fancybox-overlay-fixed
  position: fixed
  bottom: 0
  right: 0
  z-index: 99999
  background: rgba(255,255,255,0.9)




.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
  border: 1px solid $colorRed!important
  background: $colorRed!important

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
  border: 1px solid #fff
  background: #fff
  color: $colorRed
.ui-timepicker-standard .ui-menu-item
  margin: 0
  padding: 0
  display: flex
  font-size: 14px
  line-height: 20px
.ui-timepicker-standard
  font-family: Verdana,Arial,sans-serif
  font-size: 1.1em
  background-color: #FFF
  border: 0
  color: #222
  margin: 0
  padding: 0
.ui-timepicker-standard a
  display: block
  background: none
  border: 0
  width: 100%
  text-align: left
  font-size: 16px
  line-height: 24px
.ui-timepicker-standard .ui-active-item,
.ui-timepicker-standard .ui-state-hover
  background-color: $colorRed
  border-color: $colorRed
  color: $colorWhite
#map
  height: 550px
  @include tablet-l
    height: 300px




.product-section
  position: relative
  display: flex
  flex-direction: column
  @include desktop-standart
    position: inherit

.single-product
  .row
    @include desktop-standart
      position: relative
.product-section  .favorit-section
  position: absolute
  width: 100px
  top: 110px
  right: 40px
  text-align: center
  font-size: 14px
  line-height: 16px
  cursor: pointer
  @include desktop-standart
    position: absolute
    right: 10px
    z-index: 10
    top: 30px
    color: #000 !important
    text-shadow: 0 0 2px #fff
    i
      font-size: 45px!important
  .fa.fa-heart-o
    display: block
  .fa.fa-heart
    display: none
.product-section  .favorit-section svg,
.product-section  .favorit-section .fa
  display: block
  margin: 0 auto 10px
  width: 50px
  font-size: 25px
  position: relative
  z-index: 1
  color: $colorRed

.product-section  .favorit-section:before
  animation: pulse 1.5s ease-in-out infinite
  -webkit-animation: pulse 1.5s ease-in-out infinite
  background-color: $colorRed
  opacity: 0.3
  content: ""
  position: absolute
  top: 20px
  left: 50%
  @include transform
  border-radius: 50%
.product-section  .favorit-section.wishlist_add
  &:before
    display: none
  .fa.fa-heart-o
    display: none
  .fa.fa-heart
    display: block
@keyframes pulse
  0%
    width: 70px
    height: 70px
    opacity: 0.2
  100%
    width: 100px
    height: 100px
    opacity: 0


//pagination
.pagination
  margin: 0
  padding: 0
  list-style: none
  display: flex
  justify-content: center
  width: 1580px
  max-width: 95%
  margin: 0 auto
  li
    margin: 0 0 0 10px
    &.active,
    &:hover
      a
        color: $colorRed
  a
    display: block
    text-decoration: none

//360-visual
.iframe-visual
  position: relative
  overflow: hidden
  cursor: pointer
  .iframe
    width: 100%
    height: 100%
    position: absolute
    top: -100%
    left: 0
    z-index: 5
    @include transition
    iframe
      width: 100%!important
      height: 100%!important
  &.active
    .iframe
      top: 0
.middle-btn
  margin: 0 auto
  width: 350px
  max-width: 90%
  display: block !important


.hasDatepicker,
.timepicker
  cursor: pointer
.timepicker
  position: relative
  background: #fff url('../images/arrow.png') no-repeat 98% 50%
  background-size: auto 50%
  &:focus
    background: #fff url('../images/arrow-revert.png') no-repeat 98% 50%
    background-size: auto 50%
//alert-message
.alert-message
  background-color: #ccc
  color: #000
  display: flex
  position: fixed
  top: 140px
  right: -200%
  z-index: 10
  transition-delay: 2s
  @include transition-long
  @include tablet-p
    top: 114px
  @include mobile-middle
    top: 110px
  .icon
    min-width: 100px
    min-height: 100px
    display: flex
    justify-content: center
    align-items: center
    color: $colorWhite
    font-size: 30px
    line-height: 30px
    border-right: 1px solid rgba(255,255,255,0.5)
  .wrap
    height: 100px
    max-width: 400px
    overflow: hidden
    display: flex
    align-items: center
    @include transition
  .text
    font-size: 18px
    font-weight: 300
    padding: 5px 25px
    line-height: 25px
    font-style: italic
    opacity: 0
    @include transition
    transition-delay: 0s
    @include mobile-middle
      font-size: 14px
      line-height: 18px
  &.active
    right: 0
    transition-delay: 0s
    .text
      opacity: 0.5
      transition-delay: 1s
.product-slider
  opacity: 1
  @include transition-long
  &.new-element
    opacity: 0
.visual-wrap
  @include tablet-l
    order: -1
.achievements-gallery-wrap
  margin: 35px 0 60px
  @include desktop
    margin: 0
.single-product
  .post
    .visual
      margin-top: 98px
      @include desktop
        margin-top: 0

.wpcf7-not-valid-tip
  display: none!important
.error404
  .banner
    height: 600px
    display: flex
    position: relative
    align-items: center
    justify-content: center
    background-attachment: fixed
    @include desktop
      height: 400px
    @include mobile-middle
      height: 350px
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, 0.6)

    h1
      font-size: 42px
      line-height: 48px
      color: #aa2323
      text-transform: uppercase
      position: relative
      background-color: rgba(255,255,255,0.9)
      width: 350px
      height: 350px
      margin: 0
      align-items: center
      display: flex
      justify-content: center
      @include mobile-middle
        height: 250px
        width: 250px
        font-size: 32px
        line-height: 40px