@import "helper/variables"
@import "helper/media"
// RESET

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  outline: none
  vertical-align: baseline
  box-sizing: border-box


main, article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

body
  color: $colorBlack
  height: 100%
  font: 400 18px/24px $mainFont
  opacity: 0.1
  overflow-x: hidden
  @include transition-long
  &.ready-page
    opacity: 1
  @include desktop
    opacity: 1
#wrapper
  display: flex
  min-height: 100vh
  flex-direction: column
  max-width: 100%
  width: 100%
  margin: 0 auto
  overflow-x: hidden

#middle
  overflow: hidden
  padding-top: 140px
  @include tablet-p
    padding-top: 114px
  @include mobile-middle
    padding-top: 110px

h1, h2, h3, h4, h5, h6
  margin: 0 0 20px
  font-weight: 500

h1
  font-size: 34px
  line-height: 72px

h2
  font-size: 42px
  line-height: 48px

h3
  font-size: 32px
  line-height: 38px

h4
  font-size: 28px
  line-height: 34px

h5
  font-size: 22px
  line-height: 26px

h6
  font-size: 18px
  line-height: 24px

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
  color: $colorBlack
  text-decoration: none

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover
  text-decoration: underline

q
  color: $colorBlack
  display: block
  margin-bottom: 25px
  text-align: center
  font-weight: 400
  @include mobile-p
    margin: 15px auto 10px
    max-width: 90%

a
  text-decoration: underline
  color: $colorBlack
  &:hover,
  &:focus
    outline: none
    text-decoration: none
    color: $colorRed

input,
a,
button
  outline: none

ul, p, ol
  padding: 0
  margin-bottom: 20px

p:empty
  display: none

ol, ul
  @include wrap
  list-style-position: inside
  li
    margin: 0 0 5px

ol
  li
    margin-bottom: 10px

img
  border-style: none
  outline: none
  max-width: 100%
  object-fit: cover

input, a, textarea, button, .slick-slide
  outline: none

strong
  font-weight: 500
// table
table
  border-collapse: collapse
  border-spacing: 0
  border: 0
  width: 100%
  margin-bottom: 30px
  td, th
    border-bottom: 1px solid $colorBlack
    font-size: 16px
    line-height: 40px
    color: $colorBlack
    font-weight: 600
    padding: 5px 10px
    text-align: left
    @include tablet-p
      line-height: 18px
      font-size: 14px
      padding: 0
    @include mobile-l
      line-height: 14px
      font-size: 10px
  th
    font-size: 20px
    line-height: 20px
    background-color: $colorBlack
    color: $colorWhite
    @include tablet-p
      line-height: 20px
      font-size: 16px
      background: none
    @include mobile-l
      line-height: 14px
      font-size: 12px
//defoult responsive
@include tablet-p
  body
    font-size: 14px
    line-height: 20px
  h1
    font-size: 36px
    line-height: 40px

  h2
    font-size: 34px
    line-height: 40px

  h3
    font-size: 28px
    line-height: 32px

  h4
    font-size: 24px
    line-height: 30px

  h5
    font-size: 20px
    line-height: 24px

  h6
    font-size: 18px
    line-height: 24px
//RESET
